@keyframes animatedBackground {
  from { background-position: 0 0; }
	to { background-position: 86px 100px; } /* This should be the size of the image for a seamless loop */
}

body {
  background-color: antiquewhite;
	background-image: url("images/dimension.png");
	animation: animatedBackground 5s linear infinite; /* This is how long it will take to get to the specified background-position. */
  }

canvas {
  border: 1px solid black;
  background-color: white;
  position: relative;
}

#header {
  background-color: IndianRed;
}

#content {

}
